.homepage header {
  background-image: url("/BG-plants.jpg");
  background-size: 200vw;
  height: 60vh;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  color: var(--light);
}

.homepage header p {
  color: var(--light);
}

.homepage header h1 {
  font-size: 6rem;
  font-weight: 300;
}

.homepage header p {
  padding-top: 1rem;
  font-size: 2rem;
  text-align: center;
}

.homepage section:first-of-type {
  background-image: url("/BG-Explore.jpg");
  background-size: 250vw;
  object-fit: cover;
  padding: 3rem 1rem 2rem 1rem;
}

.homepage section:first-of-type h2 {
  color: var(--primary);
}

.homepage section:first-of-type .arrow {
  display: none;
}

.homepage section:first-of-type ul {
  display: flex;
}

.homepage section:first-of-type p:first-of-type {
  padding-top: 0.6rem;
}

.homepage section:nth-of-type(2) {
  padding: 3rem 1rem 2rem 1rem;
}

.homepage section:nth-of-type(2) h2 {
  padding-bottom: 2rem;
  color: var(--primary);
}

.homepage section:nth-of-type(2) li {
  padding: 2rem;
  margin-bottom: 1.6rem;
  border-radius: 8px;
  color: var(--light);
}

.homepage section:nth-of-type(2) li h3 {
  font-size: 1.4rem;
  padding-bottom: 0.4rem;
  color: var(--second);
}

.homepage section:nth-of-type(2) li:first-of-type {
  background-image: url("/fond-dark1.jpg");
  background-size: 95vw;
}

.homepage section:nth-of-type(2) li:nth-of-type(2) {
  background-image: url("/fond-dark2.jpg");
  background-size: 95vw;
}

.homepage section:nth-of-type(2) li:nth-of-type(3) {
  background-image: url("/fond-dark1.jpg");
  background-size: 95vw;
}

@media screen and (min-width: 768px) {
  .homepage header {
    background-size: 100vw;
    height: 80vh;
  }

  .homepage section:first-of-type .arrow {
    display: block;
    width: 3rem;
    height: auto;
  }

  .homepage section:first-of-type {
    display: flex;
    padding-left: 4rem;
  }

  .homepage section:first-of-type .explore {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    height: 60%;
    justify-content: space-around;
    justify-self: center;
    gap: 1.6rem;
    margin-right: 4rem;
  }

  .homepage section:nth-of-type(2) {
    padding: 3rem 6rem;
  }

  .homepage section:nth-of-type(2) ul {
    display: flex;
    justify-self: center;
    width: 80vw;
    gap: 1rem;
  }

  .homepage section:nth-of-type(2) ul .share {
    border-radius: 42px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    justify-content: center;
    background-size: 40vw;
  }

  .homepage section:nth-of-type(2) ul div li:first-of-type,
  .homepage section:nth-of-type(2) ul div li:last-of-type {
    border-radius: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    background-size: 40vw;
  }

  .homepage section:nth-of-type(2) ul div li:last-of-type {
    border-radius: 0 0 42px 0;
  }
}
